<h1>A Premier Travel Website</h1>
<p>We will help you find and explore your ultimate destination.</p>
<p>Our favorite color of the day is <%= @color %>.</p>

<style media="screen">
  body{
    background: <%= @color %>;
   }
</style>
