<h1>A Premier Travel Website </h1>
<p>We will help you find your ultimate destination.</p>
<p>Our favorite color of the day is <%= @color %></p>
<style>
	body {
		background: <%= @color %>;
	}
</style>
