<h1>Welcome</h1>
<p>This is my very awesome travel site.</p>

<p>Hi, I'm Bobby; I hail from <%= @homeland%>.</p>


<% @countries.each do |c| %>
  <li><%= c %></li>
<% end %>


<% @travel_pics.each do |t| %>
  <p><%= image_tag t %></p>
<% end %>
